.App {
  text-align: center;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body,
html {
  margin: 0;
  font-family: europa, sans-serif;
}

a {
  outline: none;
}

.navbar-container {
  text-align: center;
  background-color: #fcfdfd;
  box-shadow: 0px -20px 5px 20px #333333;
  /* padding: 10px; */
  /* font-size: 0; */
  color: #e5efec;
  position: fixed;
  z-index: 9;
  width: 100%;
}

.navbar-container ul {
  /* margin: 0;
  padding: 0; */
  text-align: right;
  vertical-align: middle;
}

.navbar-container ul li {
  display: inline-block;
  font-size: 16px;
}

.navbar-container ul li a {
  color: #1a5d57;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: color 0.5s;
}

.navbar-container ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
  width: 100%;
  background-color: white;
}

.navbar-container ul li:hover .underline {
  background-color: #1a5d57;
  width: 100%;
}

.navbar-container ul li:hover a {
}

.navbar-container ul li:active a {
  transition: none;
  color: rgba(255, 255, 255, 0.76);
}

.navbar-container ul li:active .underline {
  transition: none;
  background-color: rgba(255, 255, 255, 0.76);
}

.nav_logo {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home {
  background-color: #e5efec;
  min-height: 30.5em;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  width: 70%;
}

.caption {
  color: #1a5d57;
  font-size: large;
  margin-left: 6%;
  width: 70%;
}

.launching {
  color: #1a5d57;
}

.home-screen-msg {
  color: #1a5d57;
}

.home-screen-msg1 {
  color: #1a5d57;
}

.why-findr {
  background-color: #fcfdfd;
  position: relative;
  bottom: 1em;
  min-height: 29.5em;
  font-size: calc(10px + 2vmin);
  padding-top: 2.5%;
}

.back-arrow {
  width: 6%;
  vertical-align: top;
  margin-top: 40%;
}

.iphone {
  width: 40%;
  vertical-align: top;
  margin-left: 20%;
  margin-right: 20%;
}

.forward-arrow {
  width: 6%;
  vertical-align: top;
  margin-top: 40%;
}

.dots {
  width: 30%;
  opacity: 0.28;
}

.why-findr-title {
  color: #1a5d57;
  font-size: larger;
  align-self: center;
}

.main-image {
  width: 100%;
}

.pic1 {
  width: 100%;
  margin-bottom: -10%;
}

.pic1cap {
  color: #1a5d57;
}

.pic1capBottom {
  color: #1a5d57;
  font-size: medium;
  width: 70%;
  margin-left: 15%;
}

.pic2 {
  width: 100%;
}

.pic2cap {
  color: #1a5d57;
}

.pic2capBottom {
  color: #1a5d57;
  font-size: medium;
  width: 70%;
  margin-left: 15%;
}

.pic3 {
  width: 100%;
}

.pic3cap {
  color: #1a5d57;
}

.pic3capBottom {
  color: #1a5d57;
  font-size: medium;
  width: 70%;
  margin-left: 15%;
}

.map {
  background-color: #1a5d57;
  min-height: 28em;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.mapPic {
  position: absolute;
  top: 5%;
  left: 0;
  width: 75%;
  height: 90%;
}

.redDotMap {
  display: block;
  padding: 4px;
  width: 1.5%;
  position: absolute;
  top: 37.2%;
  left: 19.9%;
  transition: all 0.2s ease-in-out;
}

.redDotMap:hover {
  transform: scale(1.5);
}

#BrownU:hover + .innerText {
  display: block;
  border: 2px solid white;
  background-color: #fcfdfd;
  width: 10%;
  color: #1a5d57;
  border-radius: 0.8em;
  position: absolute;
  left: 20.5%;
  top: 27%;
  box-shadow: 0px 3px 20px #333333;
}

.NorthRedDotMap {
  display: block;
  width: 1.5%;
  position: absolute;
  left: 15.4%;
  top: 37.4%;
  transition: all 0.2s ease-in-out;
}

.NorthRedDotMap:hover {
  transform: scale(1.5);
}

#NorthWestU:hover + .innerText {
  display: block;
  border: 2px solid white;
  background-color: #fcfdfd;
  width: 10%;
  color: #1a5d57;
  border-radius: 0.8em;
  position: absolute;
  left: 16%;
  top: 24%;
  box-shadow: 0px 3px 20px #333333;
  z-index: 99;
}

.GTechRedDotMap:hover {
  transform: scale(1.5);
}

.GTechRedDotMap {
  display: block;
  width: 1.5%;
  position: absolute;
  left: 19%;
  top: 39.3%;
  transition: all 0.2s ease-in-out;
}

#GTech:hover + .innerText {
  display: block;
  border: 2px solid white;
  background-color: #fcfdfd;
  width: 10%;
  color: #1a5d57;
  border-radius: 0.8em;
  position: absolute;
  left: 16%;
  top: 24%;
  box-shadow: 0px 3px 20px #333333;
  z-index: 99;
}

.UofTDotMap {
  display: block;
  width: 1.5%;
  position: absolute;
  left: 19%;
  top: 35.3%;
  transition: all 0.2s ease-in-out;
}

.UofTDotMap:hover {
  transform: scale(1.5);
}

#uoft:hover + .innerText {
  display: block;
  border: 2px solid white;
  background-color: #fcfdfd;
  width: 10%;
  color: #1a5d57;
  border-radius: 0.8em;
  position: absolute;
  left: 19.5%;
  top: 17%;
  box-shadow: 0px 3px 20px #333333;
}

#UniLogo {
  width: 60%;
  padding: 6%;
}

#UniLogoAlt {
  width: 70%;
}

.innerText {
  display: none;
}
.innerText:hover {
  color: #fff;
}

.network-title {
  font-size: xx-large;
  margin-bottom: 2%;
}

.network-cap {
  width: 80%;
  align-self: center;
  font-size: large;
  margin-left: 10%;
  margin-top: 2%;
}

.home {
  width: 80%;
}

.match {
  width: 67.7%;
}

.keywords {
  background-color: #fcfdfd;
  position: relative;
  min-height: 27em;
  font-size: calc(10px + 2vmin);
  color: white;
}

.keywords-text {
  color: #1a5d57;
}

.keywords-caps {
  color: #1a5d57;
  font-size: medium;
  width: 70%;
  margin-left: 15%;
}

.chat {
  width: 80%;
}

.addinfo {
  width: 73%;
}
.keywords2 {
  background-color: #fcfdfd;
  position: relative;
  min-height: 27em;
  font-size: calc(10px + 2vmin);
  color: white;
}

.keywords-placeholder2 {
  color: #1a5d57;
}

.keywords-caps-placeholder2 {
  color: #1a5d57;
  font-size: medium;
  width: 70%;
  margin-left: 15%;
}

.contact-div {
  background-color: #e5efec;
  min-height: 27em;
  font-size: calc(10px + 2vmin);
  position: relative;
  scroll-behavior: smooth;
}

.contact-text {
  color: #1a5d57;
  font-size: 200%;
  margin-bottom: 5%;
}

.sugg-text {
  color: #1a5d57;
  font-size: large;
  margin-top: 5%;
}

.forms {
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  color: #1a5d57;
  width: 25em;
  height: 4em;
  border-radius: 5em;
  box-sizing: border-box;
  padding: 2px 32px;
  margin: 5px 15px;
  border-width: 0;
}
textarea {
  color: #1a5d57;
  width: 25em;
  height: 9em;
  border-radius: 2em;
  box-sizing: border-box;
  padding: 12px 32px;
  margin: 5px 15px;
  border-width: 0;
  position: relative;
  left: 28em;
  bottom: 14.5em;
}
input[type="submit"] {
  color: white;
  background-color: #1a5d57;
  width: 15em;
  height: 4em;
  border-radius: 5em;
  box-sizing: border-box;
  padding: 2px 32px;
  margin: 5px 15px;
  border-width: 0;
  position: relative;
  bottom: 13em;
  left: 14em;
}

textarea,
input:focus {
  outline-width: 0;
}

.email {
  position: relative;
  left: 28em;
  bottom: 14.3em;
}

.social-media-logo {
  width: 2em;
  padding-right: 1em;
}
.social-media-logo-facebook {
  width: 1.5em;
  position: relative;
  bottom: 0.24em;
  padding-right: 1em;
}

.social-media {
}

.like-title {
  color: #1a5d57;
  position: absolute;
  font-size: x-large;
  top: 74%;
  left: 65%;
}

.like-plug {
  color: #1a5d57;
  font-size: large;
  position: absolute;
  width: 14%;
  top: 80%;
  left: 62%;
}

.bottom-header {
  background-color: #1a5d57;
  min-height: 12.4em;
  font-size: calc(10px + 2vmin);
  color: white;
}

.launch {
  font-size: large;
  position: relative;
  top: 8em;
  right: 28em;
}

.aboot-us-title {
  font-weight: 100;
  position: relative;
  margin-top: 1%;
  padding-bottom: 2%;
}
.aboot-us-text {
  font-weight: 100;
  width: 18em;
  font-size: large;
  position: relative;
  margin-left: 39%;
  margin-top: 1%;
}

.number {
  position: relative;
  font-weight: 100;
  font-size: medium;
  margin-left: 60em;
}
