.App {
  text-align: center;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body,
html {
  margin: 0;
  font-family: europa, sans-serif;
}

a {
  outline: none;
}

.navbar-container {
  text-align: center;
  background-color: #fcfdfd;
  box-shadow: 0px -20px 5px 20px #333333;
  padding: 10px;
  font-size: 0;
  color: #e5efec;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}

.navbar-container ul {
  margin: 0;
  padding: 0;
  text-align: right;
  /* display: inline-block;  */
  /* uncomment ^ for center nav-bar */
  vertical-align: middle;
}

.navbar-container ul li {
  display: inline-block;
  font-size: 16px;
}

.navbar-container ul li a {
  color: #1a5d57;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: color 0.5s;
}

.navbar-container ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
  width: 100%;
  background-color: white;
}

.navbar-container ul li:hover .underline {
  background-color: #1a5d57;
  width: 100%;
}

.navbar-container ul li:hover a {
}

.navbar-container ul li:active a {
  transition: none;
  color: rgba(255, 255, 255, 0.76);
}

.navbar-container ul li:active .underline {
  transition: none;
  background-color: rgba(255, 255, 255, 0.76);
}

.nav_logo {
  width: 100px;
  position: absolute;
  left: 3%;
  top: -20%;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home {
  background-color: #e5efec;
  min-height: 30.5em;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  width: 15%;
  position: absolute;
  left: 10%;
  top: 35%;
  /* right: 20em;
  top: 10em;
  height: 8em; */
}

.caption {
  position: absolute;
  top: 60%;
  left: 12%;
  /* right: 28.5em;
  top: 12em; */
  color: #1a5d57;
  font-size: large;
}

.launching {
  position: absolute;
  color: #1a5d57;
  top: 70%;
  left: 34%;
}

.home-screen-msg {
  color: #1a5d57;
  position: absolute;
  top: 35%;
  left: 35%;
}

.home-screen-msg1 {
  color: #1a5d57;
  position: absolute;
  top: 45%;
  left: 33.5%;
}

.why-findr {
  background-color: #fcfdfd;
  position: relative;
  bottom: 1em;
  min-height: 29.5em;
  font-size: calc(10px + 2vmin);
}

.back-arrow {
  position: absolute;
  width: 2%;
  top: 40%;
  left: 57%;
}

.iphone {
  position: absolute;
  width: 15%;
  height: 60%;
  left: 65%;
  top: 20%;
}

.forward-arrow {
  position: absolute;
  width: 2%;
  top: 40%;
  left: 86%;
}

.dots {
  width: 30%;
  opacity: 0.28;
  position: absolute;
  top: 19%;
}

.video {
  width: 1200px;
  position: absolute;
  top: 10%;
  left: 22%;
}

video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent) !important;
}

.why-findr-title {
  position: absolute;
  color: #1a5d57;
  top: 10%;
  left: 45%;
  font-size: larger;
}

.main-image {
  position: absolute;
  top: 29%;
  width: 300px;
  height: 330px;
  left: 6%;
}

.pic1 {
  position: absolute;
  top: 22%;
  width: 400px;
  height: 400px;
  left: 6%;
}

.pic1cap {
  color: #1a5d57;
  position: absolute;
  top: 70%;
  left: 13.5%;
}

.pic1capBottom {
  color: #1a5d57;
  position: absolute;
  width: 15%;
  top: 80%;
  left: 12%;
  font-size: medium;
}

.pic2 {
  position: absolute;
  top: 20%;
  width: 400px;
  height: 400px;
  left: 36%;
}

.pic2cap {
  color: #1a5d57;
  position: absolute;
  top: 70%;
  left: 44.5%;
}

.pic2capBottom {
  color: #1a5d57;
  position: absolute;
  font-size: medium;
  top: 80%;
  left: 43.5%;
  width: 13%;
}

.pic3 {
  position: absolute;
  top: 15%;
  width: 400px;
  height: 450px;
  left: 66%;
}

.pic3cap {
  color: #1a5d57;
  position: absolute;
  top: 70%;
  left: 74%;
}

.pic3capBottom {
  color: #1a5d57;
  position: absolute;
  font-size: medium;
  top: 80%;
  left: 73%;
}

.map {
  background-color: #1a5d57;
  min-height: 28em;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.mapPic {
  position: absolute;
  top: 5%;
  left: 0;
  width: 75%;
  height: 90%;
}

.redDotMap {
  display: block;
  padding: 4px;
  width: 1.5%;
  position: absolute;
  top: 37.2%;
  left: 19.9%;
  transition: all 0.2s ease-in-out;
}

.redDotMap:hover {
  transform: scale(1.5);
}

.NorthRedDotMap {
  display: block;
  width: 1.5%;
  position: absolute;
  left: 15.4%;
  top: 37.4%;
  transition: all 0.2s ease-in-out;
}

.NorthRedDotMap:hover {
  transform: scale(1.5);
}

.UofTDotMap {
  display: block;
  width: 1.5%;
  position: absolute;
  left: 19%;
  top: 35.3%;
  transition: all 0.2s ease-in-out;
}

.UofTDotMap:hover {
  transform: scale(1.5);
}

#BrownU:hover + .innerText {
  display: block;
  border: 2px solid white;
  background-color: #fcfdfd;
  width: 10%;
  color: #1a5d57;
  border-radius: 0.8em;
  position: absolute;
  left: 20.5%;
  top: 27%;
  box-shadow: 0px 3px 20px #333333;
}

#uoft:hover + .innerText {
  display: block;
  border: 2px solid white;
  background-color: #fcfdfd;
  width: 10%;
  color: #1a5d57;
  border-radius: 0.8em;
  position: absolute;
  left: 19.5%;
  top: 17%;
  box-shadow: 0px 3px 20px #333333;
}

#NorthWestU:hover + .innerText {
  display: block;
  border: 2px solid white;
  background-color: #fcfdfd;
  width: 10%;
  color: #1a5d57;
  border-radius: 0.8em;
  position: absolute;
  left: 16%;
  top: 24%;
  box-shadow: 0px 3px 20px #333333;
  z-index: 99;
}

#UniLogo {
  width: 60%;
  padding: 6%;
}

#UniLogoAlt {
  width: 70%;
}

.innerText {
  display: none;
}
.innerText:hover {
  color: #fff;
}

.network-title {
  font-weight: 500;
  position: absolute;
  left: 80%;
  width: 10%;
  bottom: 60%;
}

.network-cap {
  font-weight: 200;
  width: 20%;
  left: 75%;
  bottom: 45%;
  position: absolute;
}

.home {
  position: absolute;
  top: 15%;
  left: 46%;
  width: 190px;
  height: 345px;
}

.match {
  position: absolute;
  top: 15%;
  left: 66%;
  width: 190px;
  height: 345px;
}
.chat {
  position: absolute;
  top: 35%;
  left: 46%;
  width: 190px;
  height: 345px;
}

.addinfo {
  position: absolute;
  top: 35%;
  left: 66%;
  width: 190px;
  height: 345px;
}
.keywords {
  background-color: #fcfdfd;
  position: relative;
  min-height: 27em;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-behavior: smooth;
}

.keywords-text {
  color: #1a5d57;
  position: absolute;
  top: 25%;
  left: 15%;
}

.keywords-placeholder {
  color: #1a5d57;
  position: absolute;
  top: 70%;
  left: 80%;
}

.keywords-caps-placeholder {
  color: #1a5d57;
  width: 11em;
  font-size: medium;
  position: absolute;
  top: 78%;
  left: 77.5%;
}

.keywords-caps {
  color: #1a5d57;
  width: 11em;
  font-size: medium;
  position: absolute;
  top: 33%;
  left: 12.5%;
}

.contact-div {
  background-color: #e5efec;
  min-height: 27em;
  font-size: calc(10px + 2vmin);
  position: relative;
  scroll-behavior: smooth;
}

.contact-text {
  color: #1a5d57;
  position: absolute;
  font-size: 200%;
  font-weight: 100;
  top: 25%;
  left: 15%;
}

.sugg-text {
  color: #1a5d57;
  position: absolute;
  font-size: large;
  width: 14%;
  top: 35%;
  left: 15.25%;
}

.forms {
  position: absolute;
  top: 20%;
  left: 40%;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  color: #1a5d57;
  width: 25em;
  height: 4em;
  border-radius: 5em;
  box-sizing: border-box;
  padding: 2px 32px;
  margin: 5px 15px;
  border-width: 0;
}
textarea {
  color: #1a5d57;
  width: 25em;
  height: 9em;
  border-radius: 2em;
  box-sizing: border-box;
  padding: 12px 32px;
  margin: 5px 15px;
  border-width: 0;
  position: relative;
  left: 28em;
  bottom: 14.5em;
}
input[type="submit"] {
  color: white;
  background-color: #1a5d57;
  width: 15em;
  height: 4em;
  border-radius: 5em;
  box-sizing: border-box;
  padding: 2px 32px;
  margin: 5px 15px;
  border-width: 0;
  position: relative;
  bottom: 13em;
  left: 14em;
}

textarea,
input:focus {
  outline-width: 0;
}

.email {
  position: relative;
  left: 28em;
  bottom: 14.3em;
}

.social-media-logo {
  width: 2em;
  padding-right: 1em;
}
.social-media-logo-facebook {
  width: 1.5em;
  position: relative;
  bottom: 0.24em;
  padding-right: 1em;
}

.social-media {
  position: absolute;
  top: 80%;
  left: 25%;
}

.like-title {
  color: #1a5d57;
  position: absolute;
  font-size: x-large;
  top: 74%;
  left: 65%;
}

.like-plug {
  color: #1a5d57;
  font-size: large;
  position: absolute;
  width: 14%;
  top: 80%;
  left: 62%;
}

.bottom-header {
  background-color: #1a5d57;
  min-height: 12.4em;
  font-size: calc(10px + 2vmin);
  color: white;
}

.launch {
  font-size: large;
  position: relative;
  top: 8em;
  right: 28em;
}

.aboot-us-title {
  font-weight: 100;
  position: relative;
  margin-top: 1%;
  padding-bottom: 2%;
}
.aboot-us-text {
  font-weight: 100;
  width: 18em;
  font-size: large;
  position: relative;
  margin-left: 39%;
  margin-top: 1%;
}

.number {
  position: relative;
  font-weight: 100;
  font-size: medium;
  margin-left: 60em;
}
